<div class="container">
    <div class="right-half">
        <img src="../../assets/images/coffee-brain-caffeine.jpeg" alt="Home Image">
    </div>
    <div class="left-half">
      <div class="center-content">
        <h2>Coffee Delights</h2>
        <p>click on the button to view a variety of our Coffee.</p>
       
        <div class="coffee-actions">
        <button mat-raised-button color="primary"   (click)="onNavigateToCoffees()">View Our Coffee Selection</button>
      </div>
      </div>
    </div>
</div>